# Email Configurations

# The email address that appears as the "Sender". 
# MUST match ZOHO_SMTP_USER to avoid being flagged as spam.
CONTACT_FROM_EMAIL=your_sender_address@domain.com

# The inbox where you will receive the contact form and job application submissions.
CONTACT_TO_EMAIL=destination_inbox@domain.com

# SMTP Server Configurations
# You can use Gmail (smtp.gmail.com), Zoho (smtp.zoho.in), or any other SMTP service.
ZOHO_SMTP_HOST=smtp.zoho.com
ZOHO_SMTP_PORT=465
ZOHO_SMTP_USER=your_sender_address@domain.com
ZOHO_SMTP_PASS=your_app_password
